@{
    ViewData["Title"] = "Home Page";
}

<!--AgregarEquipo.cshtml
Así como existe la View AgregarJugador, 
desarrollar la View AgregarEquipo, 
ue permite ingresar con un formulario los datos de un equipo. 
La bandera se carga con un input de tipo File.-->

<div class= "cuerpo">
<form action='@Url.Action("GuardarJugador","Home")' method="POST" enctype="multipart/form-data">
  <div class="form-group pb-4">
  
    <input type="text" class="form-control" id="Nombre" placeholder="Nombre"  autocomplete= "off" name="Nombre" required>
  </div>

   <div class="form-group pb-4">
    <input type="text" class="form-control" id="Continente" placeholder="Continente" autocomplete= "off" name="Continente" required>
  </div>
 
 
    <div class="form-group pb-3">
    <input type="int" class="form-control" id="CopasGanadas" placeholder="CopasGanadas" autocomplete= "off" name="CopasGanadas" required>

   </div>

<input type="file" name="Escudo">
<input type="file" name="Camiseta">

<button type="submit" class="btn btn-primary_ botonderecho">Guardar Equipo Nuevo</button>
</form>

</div>