@{
    ViewData["Title"] = "Home Page";
}

<!--AgregarJugador.cshtml
Debe contener el formulario para cargar los datos del jugador a agregar. Tener en cuenta lo siguiente:

Poner en un Hidden el IdEquipo
Utilizar un input Tipo File para cargar la imagen del jugador.
Utilizar como name de los inputs los mismos nombres que los atributos de la clase jugador.
El botón submit debe ir a la acción del form GuardarJugado-->

<div class= "cuerpo">
<form action='@Url.Action("GuardarJugador","Home")' method="POST" enctype="multipart/form-data">
  <div class="form-group">
  
  
  <input type="hidden" class="form-control" id="IdEquipo" name="IdEquipo" value="@ViewBag.IdEquipo">
      <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="Nombre" required>
  </div>

   <div class="form-group">
    <input type="date" class="form-control" id="FechaNacimiento" placeholder="FechaNacimiento" name="FechaNacimiento" required>
  </div>
 
 
    <div class="form-group">
    <input type="text" class="form-control" id="EquipoActual" placeholder="EquipoActual" name="EquipoActual" required>

   </div>

<input type="file" name="Foto">

<button type="submit" class="btn btn-primary">Guardar Jugador Nuevo</button>
</form>

</div>