@{
    ViewData["Title"] = "Home Page";
}

<!--Index.cshtml
Debe mostrar los escudos y nombre de cada Pais. (Mostrar usando cards) Cada equipo debe contener un link a VerDetalleEquipo enviando el Id del Equipo seleccionado.-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


@foreach(Equipo info in @ViewBag.ListaEquipo)
{
 <div class="row">
       <div class="col">
<div class="card" style="width: 18rem";>
            <img class="card-img-top" src="/imagenes/@info.Escudo">
        <div class="card-body">
            <h5 class="card-title">@info.Nombre</h5>
            <a href='@Url.Action("VerDetalleEquipo", "Home", new{IdEquipo=info.IdEquipo})'class="btn btn-primary">Detalles del equipo</a>
        </div>
    </div>
       </div>
 </div>
    

}



