@{
    ViewData["Title"] = "Home Page";
}
<!--VerDetalleJugador.cshtml
Debe contener:

Toda la info del jugador
Link para volver al equipo del jugador en cuestión


    private string _nombre;
    private DateTime _fechaNacimiento;
    private string _foto;
    private string _equipoActual;-->

    
@{
    ViewData["Title"] = "Home Page";
}
<div class="cuerpo">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <div class="row pb-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">@ViewBag.Jugador.Nombre</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href='@Url.Action("VerDetalleEquipo", "Home", new{IdEquipo=ViewBag.Jugador.IdEquipo})'class="btn btn-primary">Detalles del jugador</a>
      </div>
    </div>
  </div>
</div>
</div>

