@{
    ViewData["Title"] = "Home Page";
}
<!--VerDetalleJugador.cshtml
Debe contener:

Toda la info del jugador
Link para volver al equipo del jugador en cuestión


    private string _nombre;
    private DateTime _fechaNacimiento;
    private string _foto;
    private string _equipoActual;-->

    
@{
    ViewData["Title"] = "Home Page";
}
<div class="cuerpo">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<center><h1 class="card-title">@ViewBag.Jugador.Nombre</h1></center>
<div class="card mb-3">
  <center><img src="/imagenes/@ViewBag.Jugador.Escudo" class=" UnEquipoEscudo" alt="..."></center>
  <div class="card-body">
  
    <b><p class="card-text">Pertenece al equipo: @ViewBag.Jugador.EquipoActual</p></b>
    <b> <p class="card-text">Fecha de nacimiento: @ViewBag.Jugador.FechaNacimiento</p></b>

  </div>
</div>

