@{
    ViewData["Title"] = "Home Page";
}
<!--VerDetalleJugador.cshtml
Debe contener:

Toda la info del jugador
Link para volver al equipo del jugador en cuestión


    private string _nombre;
    private DateTime _fechaNacimiento;
    private string _foto;
    private string _equipoActual;-->

    
@{
    ViewData["Title"] = "Home Page";
}
<div class="cuerpo">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <div class="row pb-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">@ViewBag.Jugadorinfo.Nombre</h3>
      <center> <img src="/imagenes/@ViewBag.Jugadorinfo.Foto" class= "UnEquipoCamiseta" alt="..."></center>
        <p class="card-text">Fecha de nacimiento: @ViewBag.Jugadorinfo.FechaNacimiento</p>
        <p class="card-text">Equipo actual: @ViewBag.Jugadorinfo.EquipoActual</p>
       
      </div>
    </div>
  </div>
</div>
 <div class="row  mt-3 mb-3"><a href='@Url.Action("VerDetalleEquipo", "Home", new{IdEquipo=ViewBag.Jugadorinfo.IdEquipo})'class="btn btn-primary_">Volver al equipo</a></div>
</div>

